@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color_principal);
}

* {
    background: none;
}

:root {
    --color_principal: #222222;
    --color_secundario: #000;
    --color_tercero: #ffff;
    --color_cuarto:rgba(218, 37, 6, 0.884);
    --fuente_principal: 'Roboto', sans-serif;
    --fuente_secundaria: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: var(--color_tercero);
    cursor: pointer;
    background: none;
    transition: 0.5s;
}

a:hover {
    color: var(--color_cuarto);
}

ul, li {
    list-style: none;
    background: none;
}

/* HEADER */
header {
    width: 100%;
    padding: 5px;
    background-color: var(--color_secundario);
}

nav {
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav h1 {
    background: none;
    color: var(--color_tercero);
    font-family: var(--fuente_principal);
}

nav ul {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

nav ul li a {
    font-family: var(--fuente_secundaria);
}

/* BODY */
body {
    background: var(--color_principal) url('../assets/mapa.png') no-repeat center center fixed;
    background-size: 70%;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

main section.info {
    color: var(--color_tercero);
    text-align: center;
}

section.info h2 {
    font-size: 2.2em;
    font-family: var(--fuente_principal);
}

section.info p {
    font-family: var(--fuente_secundaria);
    font-size: 1.2em;
}

section.info p span {
    color: var(--color_cuarto);
    margin-left: 40px;
}

main section.form__contact form {
    width: 750px;
    margin-top: 50px;
    font-family: var(--fuente_secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.form__contact form button {
    margin-top: 25px;
    border: none;
    background: var(--color_cuarto);
    padding: 10px;
    cursor: pointer;
    color: var(--color_tercero);
    font-family: var(--fuente_principal);
    border-radius: 5px;
    transition: transform 0.5s;
}

main section.form__contact form button:hover {
    transform: scale(1.1);
}

section.form__contact form div.form-contact__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

section.form__contact form div.form-contact__container textarea {
    width: 43%;
    background-color: var(--color_tercero);
    border-radius: 5px;
    resize: none;
    color: var(--color_principal);
    padding: 10px;
}

section.form__contact form div.form-contact__container div.form-container__inputs {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
}

section.form__contact form div.form-contact__container div.form-container__inputs input {
    height: 40px;
    background-color: var(--color_tercero);
    border-radius: 5px;
    border: none;
    color: var(--color_principal);
    padding-left:10px;
}

/* PRIVACIDAD */
main.main__privacidad{
    margin-top: 20px;
}

main section.info__privacidad {
    text-align: center;
}

main section.info__privacidad h2{
    color: var(--color_tercero);
    font-size: 2.2em;
    font-family: var(--fuente_principal);
}

main section.info__privacidad div.info__politica {
    background: var(--color_tercero);
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 5px;
}

main section.info__privacidad div.info__politica h3 {
    color: var(--color_cuarto);
    font-family: var(--fuente_principal);
    font-size: 1.5em;
}

main section.info__privacidad div.info__politica p {
    font-size: 1em;
    text-align: start;
    width: 70%;
    margin: 0 auto;
    font-family: var(--fuente_secundaria);
}

main section.info__privacidad div.info__politica nav.info__menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: circle;
    margin-bottom: 20px;
}

main section.info__privacidad div.info__politica nav.info__menu ul li {
    font-weight: bold;
    text-align: start;
    margin: 5px;
    width: 100%;
    font-family: var(--fuente_secundaria);
    list-style: circle;
    margin-left: 250px;
}

/* BLOG */
main.main__blog {
    margin-top: 20px;
}

main.main__blog h2 {
    font-size: 2.2em;
    font-family: var(--fuente_principal);
    color: var(--color_tercero);
}

main.main__blog section.blog {
    height: 72vh;
    overflow-y: scroll;
    border: 3px solid black;
    background-color: var(--color_tercero);
    border-radius: 5px;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    width: 1200px;
}

main.main__blog section.blog h3 {
    font-size: 1.9em;
    text-align: center;
    font-family: var(--fuente_principal);
    margin: 10px;
    margin-bottom: 25px;
}

main.main__blog section.blog div.noticias {
    display: flex;
    justify-content: space-around;
}

main.main__blog section.blog div.noticias div.noticias__container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

main.main__blog section.blog div.noticias div.noticias__relevantes {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
}

main.main__blog section.blog div.noticias div.noticias__relevantes div.noticia__relevantes {
    width: 100%;
    display: flex;
}

main.main__blog section.blog div.noticias div.noticias__relevantes div.noticia__relevantes {
    background-size: cover;
    height: 350px;
    border-radius: 10px;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

main.main__blog section.blog div.noticias div.noticias__relevantes div.noticia__relevantes p {
    font-family: var(--fuente_secundaria);
    color: var(--color_tercero);
    font-weight: bold;
    align-self: end;
    justify-self: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.2em;
}

main.main__blog section.blog div.noticias div.noticias__relevantes div.noticia__relevantes:nth-child(1) {
    background-image: url('../assets/relevante1.jpeg');
    margin-bottom: 80px;
}

main.main__blog section.blog div.noticias div.noticias__relevantes div.noticia__relevantes:nth-child(2) {
    background-image: url('../assets/relevante2.jpeg');
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    justify-content: center;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia p {
    font-family: var(--fuente_secundaria);
    color: var(--color_cuarto);
    font-weight: bold;
    align-self: start;
    margin-left: 50px;
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia div.caja__noticia {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 25px;
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia div.caja__noticia img {
    width: 220px;
    border-radius: 10px;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia div.caja__noticia h4 {
    width: 60%;
    font-family: var(--fuente_secundaria);
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia div.caja__noticia h4 a {
    color: var(--color_secundario);
    transition: color 0.3s;
}

main.main__blog section.blog div.noticias div.noticias__container div.noticia div.caja__noticia h4 a:hover {
    color: var(--color_cuarto);
}

/* NOTICIA */

main.main__noticia {
    margin-top: 20px;
}

main.main__noticia h2 {
    width: 800px;
    font-size: 1.6em;
    font-family: var(--fuente_principal);
    color: var(--color_tercero);
}

main.main__noticia section.noticia {
    height: 72vh;
    overflow-y: scroll;
    border: 3px solid black;
    background-color: var(--color_tercero);
    border-radius: 5px;
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.main__noticia section.noticia h3 {
    font-size: 1.9em;
    text-align: center;
    font-family: var(--fuente_principal);
    margin: 10px;
    margin-bottom: 25px;
}

main.main__noticia section.noticia img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
    margin-bottom: 40px;
}

main.main__noticia section.noticia p {
    font-family: var(--fuente_secundaria);
    width: 80%;
}

main.main__noticia section.noticia h4 {
    font-family: var(--fuente_principal);
    font-size: 1.5em;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: var(--color_secundario);
    color: var(--color_tercero);
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-family: var(--fuente_secundaria);
    font-size: 1.2em;
}

